/*estilos gerais*/
body{
    font-family: 'roboto';
}
.row{
    margin:0;
}
.container{
    padding: 50px 0;
}

p, li{
    color: #444;
    font-size: 14px;
    
}
 /* cabeçalho*/
 header, .navbar{
    background-color: #65DAF9;
 }
 .nav-container{
    padding-top: 0;
    padding-bottom: 0;
 }
 #logo{
    width: 120px;
 }
 .navbar-brand{
    padding: 0;
    color: #444;
 }
 .navbar-brand:hover{
    color: #444;
 }
 #navbar-links a{
    color: #444;
 }
 .navbar-expand-lg, .navbar-nav .nav-link{
    padding: 1rem .8rem;
 }
 /*slider*/
 .container-fluid{
   padding: 0;
 }
 #carouselExampleIndicators .carousel-caption h2{
   font-size: 60px;
   margin-bottom: 30px;
   font-weight: bolder;
   
 }
 #carouselExampleIndicators .carousel-caption p{
   font-size: 22px;
   font-weight: 300;
   margin-bottom: 65px;
   color: #fff;
   font-weight: bolder;
  
 }
 .main-btn{
   background-color: #65DAF9;
   color:#fff;
   text-transform: uppercase;
   width: 200px;
   height: 60px;
   padding: 10px 20px;
   border-radius: 30px;
   border: 3px solid transparent;
   transition: .5s;
   text-decoration: none;
   font-weight: bolder;
 }
 .main-btn:hover{
   text-decoration: none;
   color: black;
   background-color: transparent;
   border-color: #65DAF9;
 }
 .carousel-indicators{
  margin-bottom: 7px;
 }
 .carousel-indicators .active{
   background-color: #65DAF9;
 }
 /*Cards*/
 .card-img-top{
   height: 50vh;
   padding: 5px;
   cursor:pointer;
 }
 .comprar-btn{
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #65DAF9;
  color:white;
  text-decoration:none;
  border-radius:20px;
  font-size: 17px;
  border: 3px solid transparent;
}
.comprar-btn:hover{
  text-decoration: none;
   color: black;
   background-color: transparent;
   border-color: #65DAF9;
}
.card:hover .comprar-btn{
  display: block;
}
.comprar-btn{
  display:none ;
}

.fixedHeightImg > img {
  max-height: 550px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.card-title{
  font-size: 20px;
  color: #444;
  font-weight: bolder;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}
/*footer*/
#contact-area{
  background-color: black;
  text-align: center;
}
.contact-box{
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #65DAF9;
}
.contact-box i{
  font-size: 24px;
  margin-bottom: 20px;
  color: #65DAF9;
  
}
.contact-box p{
  color: #fff;

  
}
.main-title{
  font-size: 40px;
  text-align: center;
  color: white;
  margin: 0 0 65px 0;
  
}
.contact-title{
  font-weight: bolder;
}
.contact-title:hover{
  font-weight: bolder;
  color: #65DAF9;
  cursor: pointer;
}
#msg-box p{
  font-size: 27px;
  color: #fff;
}
#contact-form textarea{
  margin-bottom: 35px;
  border-radius: 10px;
}
#contact-form .main-btn{
  width: 120px;
  height: 50px;
}
#contact-form .main-btn:hover{
 color: #65DAF9;
}
/*copy*/
#copy-area{
  background-color:#65DAF9;
}
#copy-area .container{
  padding: 10px 0;
  text-align: center;
}
#copy-area .container p{
margin-bottom: 0;
color: black;
}
  